@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

 * {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   font-family: Inter;
 }
html {
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #F5DDF5 11.63%, #F5DDF5 45.45%, #BBACF2 101.46%);
}

li, a, button {
  font-family: Inter;
  font-weight: 600;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 5%;
}

.nav-links {
  list-style: none;
}

.nav-links li{
  display: inline-block;
  padding: 0px 20px;
}

.nav-links li a {
  transition: all 0.3s ease 0s;
  text-decoration: none;
  color: #464891;
  font-size: 25px;
}

.nav-links li a:hover{
  color: #1F2041;
}

.logo {
  cursor: pointer;
  margin-right: auto;
}

.landing-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
  margin-bottom: 10%;
}

.landing-main h1 {
  font-family: Inter;
  font-weight: 600;
  font-size: 70px;
  text-align: center;
  color: #1F2041;
}

.landing-main button {
  cursor: pointer;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #4B3F72;
  border: none;
  border-radius: 50px;
  background: #F7E3F7;
  width: 300px;
  height: 60px;
  margin-top: 60px;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
  margin-bottom: 10%;
}

.main-text h1{
  font-size: 50px;
  color: #1F2041;
  text-align: center;
}

.emoji-options {
  display: flex;
  cursor: pointer;
  background-color: white;
  border-style: none;
  border-radius: 50px;
  width: 15%;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
  height: 4rem;
  width: 37rem;
}

label{
  cursor: pointer;
  font-size: 2.7rem;
  padding: 7px;
}

input[type=checkbox] {
    display: none;
}

.label-happy:before {
  content: '😄';
  opacity: 0.6;
}

input:checked + label .label-happy:before {
  content: '😄';
  opacity: 1;
}

.label-heart:before {
  content:'💗';
  opacity: 0.6;
}

input:checked + label .label-heart:before {
  content:'💗';
  opacity: 1;
}

.label-dance:before {
  content: '🕺🏻';
  opacity: 0.6;
}

input:checked + label .label-dance:before {
  content: '🕺🏻';
  opacity: 1;
}

.label-electronic:before {
  content: '🤖';
  opacity: 0.6;
}

input:checked + label .label-electronic:before {
  content: '🤖';
  opacity: 1;
}

.label-sleepy:before {
  content: '😴';
  opacity: 0.6;
}

input:checked + label .label-sleepy:before {
  content: '😴';
  opacity: 1;
}

.label-acoustic:before {
  content: '🎹';
  opacity: 0.6;
}

input:checked + label .label-acoustic:before {
  content: '🎹';
  opacity: 1;
}

.label-fire:before {
  content: '🔥';
  opacity: 0.6;
}

input:checked + label .label-fire:before {
  content: '🔥';
  opacity: 1;
}

.label-popular:before {
  content: '😎';
  opacity: 0.6;
}

input:checked + label .label-popular:before {
  content: '😎';
  opacity: 1;
}

.label-sad:before {
  content: '😢';
  opacity: 0.6;
}

input:checked + label .label-sad:before {
  content: '😢';
  opacity: 1;
}

.play-button-outer {
  width: 5em;
  height: 5em;
  border-radius: 50%;
  background-color: #F5DDF5;
  cursor: pointer;
  margin-top: 3rem;
}

.play-button {
  margin: 1.5px 1.5px;
  top: 30%;
  left: 30%;
  position: relative;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 1em 0 1em 2em;
  border-color: transparent transparent transparent #464891;
}

.play-button-outer:hover {
  background-color: white;
}

.play-button-outer:hover .play-button {
  opacity: 1;
}

}
}
