<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>moosic</title>
  <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
</head>

<body>
  <nav>
    <ul class="nav-links">
      <li class="logo"><a href="#">moosic</a></li>
    </ul>
  </nav>
  <div class="main-container">
    <div class="main-text">
      <h1>What kind of music are you feeling today?</h1>
    </div>
    <div class="emoji-input">

    </div>
    <div class="emoji-slider">
      <div class data-emojid="U+1F60E">
        <span>😎</span>
      </div>
      <div class data-emojid="U+U+1F497">
        <span>💗</span>
      </div>
      <div class data-emojid="U+U+1F604">
        <span>😄</span>
      </div>
      <div class data-emojid="U+1F57A">
        <span>🕺</span>
      </div>
      <div class data-emojid="U+1F622">
        <span>😢</span>
      </div>
      <div class data-emojid="U+1F916">
        <span>🤖</span>
      </div>
      <div class data-emojid="U+1F525">
        <span>🔥</span>
      </div>
      <div class data-emojid="U+1F634">
        <span>😴</span>
      </div>
      <div class data-emojid="U+1F3B9">
        <span>🎹</span>
      </div>
      <div class data-emojid="U+1F92A">
        <span>🤪</span>
      </div>
    </div>
  </div>

</body>

</html>
