<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>spotify project</title>
    <link rel="stylesheet" href="static/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
  </head>
  <body>
  <header>
    <nav>
      <ul class="nav-links">
        <li>moosic</li>
        <li>make another</li>
        <li>sign out</li>
      </ul>
    </nav>
  </header>
  <div class="landing-main">
    <h1>Generate playlists based on ~ what you're feeling ~</h1>
    <button type="button" name="spotify-login">LOGIN WITH SPOTIFY</button>
  </div>
  </body>
</html>
