<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>spotify project</title>
  <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
</head>

<body>
  <nav>
    <ul class="nav-links">
      <li class="logo"><a href="#">moosic</a></li>
    </ul>
  </nav>
  <div class="landing-main">
    <div class="landing-item-top">
      <h1 id="landing-text">Generate playlists based on</h1>
      <h1 id="landing-text">~ what you're feeling ~</h1>
    </div>
    <div class="landing-item-bottom">
      <button class="login-button" type="button" name="spotify-login">LOGIN WITH SPOTIFY</button>
    </div>
  </div>
</body>
</html>
