<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Your Playlist</title>
  <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
</head>

<body>
  <nav>
    <a class="logo" href="/Users/sophiechen/Documents/GitHub/spotify-project/templates/index.html">moosic</a>
    <ul class="nav-links">
      <li class="menu"><a href="/Users/sophiechen/Documents/GitHub/spotify-project/templates/emoji.html">make another</a></li>
      <li class="menu"><a href="/Users/sophiechen/Documents/GitHub/spotify-project/templates/index.html">log out</a></li>
    </ul>
  </nav>
  <div class="playlist-result">
    <div class="playlist-text">
      <h1>Here's a playlist we generated just for you. Enjoy! 🎶</h1>
      <a class="open-spotify" href="#">Open on Spotify</a>
      <a class="insights" href="#">View Playlist Insights</a>
    </div>
    <div class="playlist-window">
      <iframe src="https://open.spotify.com/embed/playlist/2xDgQkYJOnvwEr6vf9SnFa" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    </div>
  </div>
</body>

</html>
